<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzy.relation.mapper.AuthorityMapper" >

    <resultMap id="BaseResultMap" type="com.zzy.relation.entity.Authority">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="did" jdbcType="VARCHAR" property="did" />
        <result column="mid" jdbcType="VARCHAR" property="mid" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        did,
        mid,
        create_time
    </sql>


    <!--根据ID查询-->
    <select id="queryById" resultType="com.zzy.relation.entity.Authority" >
        select
        a.id,
        a.did,
        a.mid,
        a.create_time createTime,
        d.name dname,
        m.name mname
        from authority a left join department d on a.did = d.id left join menus m on a.mid = m.id
        where a.id=#{id}
    </select>


    <select id="queryAllByLimit" resultType="com.zzy.relation.entity.Authority" parameterType="map">
        select
        a.id,
        a.did,
        a.mid,
        a.create_time createTime,
        d.name dname
        from authority a left join department d on a.did = d.id
        <where>
            <if test="id != null and id != '' ">
                and a.id = #{id}
            </if>
            <if test="dname != null and dname != '' ">
                and d.name like concat('%',#{dname},'%')
            </if>
            <if test="did != null and did != '' ">
                and a.did = #{did}
            </if>
            <if test="mid != null and mid != '' ">
                and a.mid = #{mid}
            </if>
            <if test="createTime != null and createTime != '' ">
                and a.create_time = #{createTime}
            </if>
        </where>
        order by a.create_time desc
    </select>


    <select id="queryCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authority
        <where>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
            <if test="did != null and did != '' ">
                and did = #{did}
            </if>
            <if test="mid != null and mid != '' ">
                and mid = #{mid}
            </if>
            <if test="createTime != null and createTime != '' ">
                and create_time = #{createTime}
            </if>
        </where>
        order by create_time desc
    </select>


    <!--添加-->
    <insert id="insert" parameterType="com.zzy.relation.entity.Authority" keyProperty="id" useGeneratedKeys="true">
        insert into authority (
            did,
            mid,
            create_time
        )values(
            #{did},
            #{mid},
            #{createTime}
        )
    </insert>


    <!--修改-->
    <update id="update" parameterType="com.zzy.relation.entity.Authority">
        update authority
        <set>
            <if test="did != null and did != '' ">
                did = #{did},
            </if>
            <if test="mid != null and mid != '' ">
                mid = #{mid},
            </if>
        </set>
        where id = #{id}
    </update>


    <!--根据id删除-->
    <delete id="deleteById" >
        delete from authority where id=#{id}
    </delete>


</mapper>
